<!doctype html>
<html>
    <head>
        <title>Glitch Tarot</title>
        <!-- get the css here but the js at the end -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/foundation.css">
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>

        <div id="allow_reversals" data-value="{{ allow_reversals }}"></div>

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <h1>GLITCH TAROT</h1>
                </div>
            </div>

            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <div class="callout">
                        <div class="grid-x grid-padding-x">
                            <div class="large-12 cell">
                                <p>You drew {{ number }} cards.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="card_board">
            <h2>YOUR CARDS:</h2>
            {% for card64 in cards64 %}
                <div class="tarot_img_container" id="container_{{ card64[2] }}">
                    <img
                        src="data:image/png;base64,{{ card64[0] }}"
                        alt="{{ card64[1] }}"
                        class="tarot_img"
                        id="{{ card64[2] }}"
                        style="rotate: 0deg;"
                        onclick="rotate(this.id)"
                    >
                </div>
            {% endfor %}
        </div>


        <div class="grid-container">
            <div class="grid-x grid-padding-x"></div>
                <div class="large-12 cell">
                    {% include 'draw_form.html' %}
                </div>
            </div>

        </div>

        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/what-input.js"></script>
        <script src="/static/js/vendor/foundation.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/draw.js"></script>
    </body>
</html>
