<div class="callout">

    <form action="/draw" id="draw_cards_form" method="POST">

        <div class="grid-x grid-padding-x">

            <div class="large-4 cell">
                           
                <p>How many cards will you draw?</p>

                    <select id="card_number_select" name="card_number_select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

            </div>

            <div class="large-4 cell">
                <p>Allow randomized Reversals?</p>
                <select id="reversals_select" name="reversals_select">
                    <option value="0">NO</option>
                    <option value="1">YES</option>
                </select>

            </div>

            <div class="large-4 cell">
                <p>&nbsp;</p>
                <a class="button" onclick="draw_cards()">DRAW CARDS</a>
            </div>
        </div>

   </form>
</div>
