<!doctype html>
<html>
    <head>
        <title>Glitch Tarot</title>
        <!-- get the css here but the js at the end -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/foundation.css">
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <h1>GLITCH TAROT</h1>
                </div>
            </div>

            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    {% include 'draw_form.html' %}
                </div>
           </div>

        </div>

        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/what-input.js"></script>
        <script src="/static/js/vendor/foundation.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/index.js"></script>
    </body>
</html>
